<div class="payment">
    <div class="package_desc">
        <span class="cost"> ${{ selectedPackage?.cost }}</span>
        <span class="searches">
            {{ selectedPackage?.searchCount }}
            {{ selectedPackage?.searchCount === 1 ? "search" : "searches" }}
        </span>
        <span class="desc">
            {{ selectedPackage?.description }}
        </span>
    </div>

    <div class="payment_gateway">Placeholder for payment gateway</div>
    <div>
        <app-button title="Pay" (clickEvent)="pay()" [isLoading]="isLoading" />
    </div>
</div>
