<div class="main_container">
    <div class="header">Previous Searches</div>
    <div class="content">
        @if(false) {
        <div class="empty_container">No Previous Searches</div>
        } @else {
        <table>
            <thead>
                <th>Medication Name</th>
                <th>Time</th>
                <th>Status</th>
                <th>View</th>
            </thead>
            <tbody>
                @for (search of previousSearches; track $index) {
                <tr>
                    <td>{{ search.medication?.name }}</td>
                    <td>{{ search.medication?.pickUpDate }}</td>
                    <td>{{ search.status }}</td>
                    <td>
                        <div
                            class="view_btn"
                            (click)="viewDetails(search.searchId)"
                        >
                            View Details
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
