@import "variables";

.signup_container {
    background-color: $offWhiteColor;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    align-items: center;

    &.small_header_active {
        padding: 0;
        justify-content: start;
    }

    .header {
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;

        &.small_header {
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0.25rem;
            border-bottom: 1px solid rgb(209, 208, 208);

            .brand {
                > img {
                    height: 3.5rem;
                }

                .brand_name {
                    .heading {
                        font-size: 1rem;
                    }
                    .sub_heading {
                        font-size: 0.8rem;
                    }
                }
            }
        }

        .brand {
            display: flex;
            gap: 0.5rem;
            align-items: center;

            > img {
                height: 6rem;
            }

            .brand_name {
                color: $darkGreyColor;

                .heading {
                    font-size: 2rem;
                    font-weight: 500;
                    font-family: "Unbounded", sans-serif;
                }
                .sub_heading {
                    font-size: 1.5rem;
                    font-family: "Unbounded", sans-serif;
                    font-weight: 600;
                }
            }
        }
        > p {
            $globalWhiteColor-space: pre-wrap;
            text-align: center;
            font-size: 1.5rem;
            color: #231919;
            font-weight: 100;
        }

        > span {
            $globalWhiteColor-space: pre-wrap;
            text-align: center;
            font-size: 1.3rem;
            color: #231919;
            font-weight: 100;
        }
    }

    .form_container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
