<section id="main_container">
  <div class="heading">{{ title }}</div>
  <div class="feature_container">
    <div class="card">
      <div class="img_container">
        <span>99</span>
        <img src="assets/images/svg/percent-icon.svg" alt="" />
      </div>
      <div class="caption">Success rate finding medications</div>
    </div>
    @for (item of specificationsArray; track $index) {
    <div class="card">
      <img [src]="item.imagePath" alt="" />
      <div class="caption">
        {{ item.caption }}
      </div>
    </div>
    }
  </div>
</section>
