<form class="form_container" (submit)="onSucces()">
  <div class="log_option_container">
    <div class="title">Welcome Back!</div>
    <div class="option_container">
      <div
        class="email_section"
        (click)="markEmailOptionAsSelected()"
        [ngClass]="{ active: isEmailLoginInOptionSelected }"
      >
        Email Address
      </div>
      <div
        class="number_section"
        (click)="markPasswordOptionAsSelected()"
        [ngClass]="{ active: !isEmailLoginInOptionSelected }"
      >
        Phone Number
      </div>
    </div>
  </div>
  <div class="input_containers">
    @if(isEmailLoginInOptionSelected) {
    <app-input
      [control]="signInInfoForm.controls.email"
      id="email"
      label="Email Address:"
      [type]="'email'"
      [shape]="'flat'"
    />
    } @else {
    <div class="phoneNumber_container">
      <app-custom-search-dropdown
        (countryCode)="setCountryCode($event)"
      ></app-custom-search-dropdown>
      <app-input
        [control]="signInInfoForm.controls.phoneNumber"
        id="phoneNumber"
        label="Phone number"
        [type]="'text'"
        [shape]="'flat'"
      />
    </div>
    }
    <app-input
      [control]="signInInfoForm.controls.password"
      id="password"
      label="Password:"
      [type]="'password'"
      [shape]="'flat'"
    />
  </div>
  <div class="button_container">
    <app-button
      [shape]="'rounded'"
      [title]="'Login'"
      [type]="'small_primary'"
      formButtonType="submit"
    ></app-button>
  </div>
  <div class="footer">
    <div class="signin">
      Trouble Logging In?
      <a class="signIn_tag" (click)="openForgotPasswordScreen()"
        >Forgot your password?</a
      >
    </div>
    <div class="signin">
      New to FindMyMeds? 
      <a class="signIn_tag" (click)="openSignUpScreen()">Create Your Account Today!</a>
    </div>
  </div>
</form>
