
<div class="select_package_conatiner">
  <p class="package_heading">Choose a package</p>

  <div class="packages">
    @for (package of packageOptions; track $index) {
    <div
      class="package_card"
      [ngClass]="{ selected_card: selectedPackage?.subscriptionId === package.subscriptionId }"
      (click)="selectPackage(package)"
    >
      <p class="heading">
        {{ package.name }}
      </p>
      <p class="cost">${{ package.cost }}</p>
      <p class="desc">
       ${{(package.cost/package.searchCount).toFixed(2)}} per successfull search. 
       <br>
       {{ package.description }}
      </p>
    </div>
    }
  </div>

  <div>
    <app-button
      [title]="'Select Package'"
      type="small_primary"
      shape="rounded"
      (clickEvent)="onSubmit()"
      [isLoading]="isLoading"
    />
  </div>
</div>
