<form class="form" [formGroup]="personalInfoForm" (ngSubmit)="onFormSubmit()">
  <app-input
    [control]="personalInfoForm.controls.fullName"
    id="fullName"
    label="Full Name"
  />
  <app-input
    [control]="personalInfoForm.controls.phoneNumber"
    id="phoneNumber"
    label="Phone Number"
    [type]="'phoneNumber'"
  />
  <app-input
    [control]="personalInfoForm.controls.email"
    id="email"
    label="Email"
  />
  <div class="terms_container">
    <div class="terms">
      <div>
        <app-checkbox [control]="personalInfoForm.controls.terms" />
      </div>
      <span>
        I have read and agree to the
        <a
          (click)="openPrivacy()"
        >
          privacy policy
        </a>
        and
        <a
         (click)="openTermsOfService()"
        >
          terms of service.
        </a>
        {{
          "\nI also agree to recieve SMS messages from FindMyMeds by InStockRx regarding search status" +
            "updates" +
            "and marketting. Reply STOP to opt out, HELP for assistance. Standard message and data rates amay" +
            "apply." +
            "The tests are non-recurring."
        }}
      </span>
    </div>
    @if ( personalInfoForm.controls.terms.dirty &&
    personalInfoForm.controls.terms.touched &&
    personalInfoForm.controls.terms.invalid) {
    <span class="error_message">
      <img src="assets/images/svg/exclamation.svg" alt="" />
      Please agree to terms and conditions and privacy policy</span
    >
    }
  </div>
  <div class="continue_button_container">
    <div>
      <app-button
        [title]="'Continue'"
        [type]="'small_primary'"
        [shape]="'rounded'"
      />
    </div>
  </div>
</form>
