@import "variables";

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid $normalGrey;
    height: 100%;

    .brand {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        .back_icon {
            cursor: pointer;
            img {
                height: 30px;
            }
        }

        > img {
            height: 3rem;
        }

        .brand_name {
            color: $offBlackColor;

            .heading {
                font-size: 1rem;
                font-weight: 500;
                font-family: "Unbounded", sans-serif;
            }
            .sub_heading {
                font-size: 0.8rem;
                font-family: "Unbounded", sans-serif;
                font-weight: 600;
            }
        }
    }

    .icon_container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;

        .profile_icon {
            height: 30px;
            width: 30px;
        }

        > img {
            cursor: pointer;
        }
    }
}

.settings_container {
    height: 25rem;
    width: 20rem;
    box-shadow: 0px 0px 15px 5px $normalGrey;
    border-radius: 12px;
    background-color: $offWhiteColor;
    position: fixed;
    top: 3.5rem;
    right: 2rem;
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding: 1rem 0;
    z-index: 10;

    .heading {
        height: 10%;
        font-weight: 600;
        font-size: 20px;
        padding: 4px 10px;
    }

    .content {
        max-height: 90%;
        overflow-y: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        padding: 4px 10px;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $normalGrey;
            border-radius: 2px;
        }

        &::-webkit-scrollbar-track {
            background-color: $extraLightGreyColor;
        }

        .inner_hr {
            margin: 11px 0;
            height: 1px;
            background-color: $offBlackColor;
            width: 100%;
        }

        .notification {
            cursor: pointer;
            // border: 1px solid black;

            &.unread {
                font-weight: 600;
            }
        }
    }

    hr {
        border-top: 1px solid $normalGrey;
    }
}
