@if(this.isEmailSubmitted) {
<form class="form" (submit)="onResetPasswordSubmit()">
    <app-input [control]="resetPasswordForm.controls.verificationCode" label="Verification Code" shape="flat" />
    <app-input [control]="resetPasswordForm.controls.newPassword" [type]="'password'" label="New Password"
        shape="flat" />
    <app-input [control]="resetPasswordForm.controls.confirmPassword" [type]="'password'" label="Confirm Password"
        shape="flat" />
    <div class="btn_container">
        <app-button type="small_primary" shape="rounded" [isLoading]="isLoading" title="Submit" />
    </div>
</form>
}
@else {
<form class="form" (submit)="onEmailSubmit()">
    <app-input [control]="emailForm.controls.email" label="Email Address:" [type]="'email'" shape="flat" />
    <div class="btn_container">
        <app-button type="small_primary" shape="rounded" [isLoading]="isLoading" title="Submit" />
    </div>
</form>
}