<div class="main_container">
    <div class="header">Active Searches</div>
    <div class="content">
        <!-- @if(true) { -->
        @if(!activeSearches.length) {
        <div class="empty_container">
            <app-empty-state
                [src]="'assets/images/svg/no-search-icon.svg'"
                [caption]="'No Active Searches'"
            ></app-empty-state>
        </div>
        } @else {
        <table>
            <thead>
                <th>Medication Name</th>
                <th>Time</th>
                <th>Status</th>
                <th>View</th>
            </thead>
            <tbody>
                @for (search of activeSearches; track $index) {

                <tr>
                    <td>{{ search.medication?.name }}</td>
                    <td>{{ search.medication?.pickUpDate }}</td>
                    <td>{{ search.status }}</td>
                    <td>
                        <div
                            class="view_btn"
                            (click)="viewDetails(search?.searchId)"
                        >
                            View Details
                        </div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
    </div>
</div>
