<div class="main_container">
  <div class="header">Active Searches</div>
  <div class="content">
    @if(false) {
    <div class="empty_container">No Active Searches</div>
    } @else {
    <table>
      <thead>
        <th>Medication Name</th>
        <th>Time</th>
        <th>View</th>
      </thead>
      <tbody>
        <tr>
          <td>Med 1</td>
          <td>2 Sep 2024</td>
          <td>
            <div class="view_btn" (click)="viewDetails()">View Details</div>
          </td>
        </tr>
      </tbody>
    </table>
    }
  </div>
</div>
