<div
  class="signup_container"
  [ngClass]="{ small_header_active: stepNumber >= 3 }"
>
  <div class="header" [ngClass]="{ small_header: stepNumber >= 3 }">
    <div class="brand">
      <img src="assets/images/png/pill-logo.png" alt="" />
      <div class="brand_name">
        <div class="heading">FindMyMed</div>
        <div class="sub_heading">by InStockRx</div>
      </div>
    </div>
    @if (stepNumber<3) {
    <p>Never Search For Your Meds Again</p>
    } @if (stepNumber===1) {
    <span>
      {{
        "Let us find your meds for you! \n We just need a little info to start:"
      }}
    </span>
    }
  </div>
  <div class="form_container">
    @if (stepNumber===1) {
    <form
      class="form"
      [formGroup]="personalInfoForm"
      (ngSubmit)="onPersonalInfoSubmit()"
    >
      <app-input
        [control]="personalInfoForm.controls.fullName"
        id="fullName"
        label="Full Name"
      />
      <app-input
        [control]="personalInfoForm.controls.phoneNumber"
        id="phoneNumber"
        label="Phone Number"
        [type]="'phoneNumber'"
      />
      <app-input
        [control]="personalInfoForm.controls.email"
        id="email"
        label="Email"
      />
      <div class="terms_container">
        <div class="terms">
          <div>
            <app-checkbox [control]="termsControl" />
          </div>
          <span>
            I have read and agree to the
            <a href="#"> privacy policy </a>
            and
            <a href="#"> terms of service. </a>
            {{
              "\nI also agree to recieve SMS messages from FindMyMed by InStockRx regarding search status" +
                "updates" +
                "and marketting. Reply STOP to opt out, HELP for assistance. Standard message and data rates amay" +
                "apply." +
                "The tests are non-recurring."
            }}
          </span>
        </div>
        @if (termsControl.dirty && termsControl.touched && termsControl.invalid)
        {
        <span class="error_message">
          <img src="assets/svg/exclamation.svg" alt="" />
          Please agree to terms and conditions and privacy policy</span
        >
        }
      </div>
      <div class="continue_button_container">
        <div>
          <app-button
            [title]="'Continue'"
            [type]="'small_primary'"
            [shape]="'rounded'"
          />
        </div>
      </div>
    </form>
    } @else if(stepNumber===2){
    <form
      class="form"
      [formGroup]="additionalInfoForm"
      (ngSubmit)="onAdditionalInfoSubmit()"
    >
      <app-input
        [control]="additionalInfoForm.controls.dob"
        id="dates"
        label="Date of Birth"
        placeholder="MM/DD/YYYY"
        type="dates"
      />
      <app-input
        [control]="additionalInfoForm.controls.zipCode"
        id="zipCode"
        label="Zip Code"
        type="numbers"
        placeholder="12345"
      />
      <app-input
        [control]="additionalInfoForm.controls.prescriber"
        id="presciber"
        label="Presciber"
        placeholder="Dr. John Doe"
      />
      <div class="field-info">
        <p>Medication to be found</p>
        <span
          >Add as many alternatives as you would like in the order of
          preference.</span
        >
      </div>
      <div
        class="prescribed_medication"
        *ngFor="let medication of prescribedMedication.controls; let i = index"
      >
        <div class="prescribed_medication">
          <div class="options">
            <p>Option {{ i + 1 }}</p>
            @if (i!==0) {
            <img
              src="assets/images/svg/delete-icon.svg"
              alt="Delete"
              (click)="removeMedication(i)"
            />
            }
          </div>

          <app-input
            [control]="getControl(i, 'name')"
            id="prescribedMedication"
            label="Medication Name"
            placeholder="Adderall XR"
          />
          <div class="medication_info">
            <span>
              <app-input
                [control]="getControl(i, 'dose')"
                id="dose"
                label="Dose"
                placeholder="10 mg"
              />
            </span>
            <span>
              <app-input
                [control]="getControl(i, 'quantity')"
                id="quantity"
                label="Quantity"
                placeholder="30"
              />
            </span>
            <span>
              <app-input
                [control]="getControl(i, 'brand')"
                id="brandName"
                label="Brand Name"
                placeholder="Preffered Brand"
              />
            </span>
          </div>
        </div>
      </div>

      <div class="button_container" (click)="addMedication()">
        <app-button
          title="Add alternative"
          type="small_secondary"
          shape="rounded"
          [src]="'assets/images/svg/plus-icon.svg'"
          [formButtonType]="'button'"
        />
      </div>

      <div class="field-info">
        <p>When will you be ready to pick up your meds?</p>
        <span>Your meds may be found on or after this date.</span>
      </div>
      <div class="button_container" (click)="openDateChooserModal()">
        <app-button
          [title]="formatTimestamp(additionalInfoForm.controls.pickupDate.value)"
          type="small_secondary"
          shape="square"
          [formButtonType]="'button'"
          iconAlignment="vertical"
          src="assets/images/svg/calendar-icon.svg"
        />
      </div>

      <div class="continue_button_container">
        <div>
          <app-button title="Continue" type="small_primary" shape="rounded" />
        </div>
      </div>
    </form>
    } @else if(stepNumber===3){

    <div class="select_package_conatiner">
      <p class="package_heading">Choose a package</p>

      <div class="packages">
        @for (package of packageOptions; track $index) {
        <div
          class="package_card"
          [ngClass]="{ selected_card: selectedPackage === package.id }"
          (click)="selectPackage(package.id)"
        >
          <p class="heading">
            {{ package.title }}
          </p>
          <p class="cost">${{ package.cost }}</p>
          <p class="desc">
            {{ package.description }}
          </p>
        </div>
        }
      </div>

      <div (click)="onSelectPackageSubmit()">
        <app-button
          [title]="'Select Package'"
          type="small_primary"
          shape="rounded"
        />
      </div>
    </div>
    } @else if(stepNumber===4){ Hwllo }
  </div>
</div>
<app-modal
  [title]="'Example Modal'"
  [isVisible]="modalVisible"
  (closeModal)="closeDateChooserModal()"
>
  <div class="modal_content">
    <div class="content">
      <div class="details">
        <p>Select date</p>
        <span [ngClass]="{ dateInputActive: isDateInputActive }">
          {{ formatTimestamp(selectedDate) }}
        </span>
      </div>
      <div (click)="toggleDateInput()">
        @if (isDateInputActive) {
        <img src="assets/images/svg/calendar-icon.svg" alt="" srcset="" />
        } @else {
        <img
          src="assets/images/svg/edit-icon.svg"
          alt=""
          srcset=""
        />
        }
      </div>
    </div>
    <div class="date_picker">
      @if (isDateInputActive) {
      <app-input type="dates" label="Enter date" bg="#fae7e0" [control]="dateFormControl"/>
      } @else {
      <app-date-picker (onDatePicked)="onDatePicked($event)" />
      }
      <div class="picker_options">
        <span class="options" (click)="closeDateChooserModal()">Cancel</span>
        <span class="options" (click)="onPositivePress()">OK</span>
      </div>
    </div>
  </div>
</app-modal>
