<div class="main_container">
    <div class="header">Clusters of patients</div>
    <div class="table-container">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>Medication Name</th>
                    <th>Dose</th>
                    <th>Availability</th>
                    <th>User Details</th>
                </tr>
            </thead>
            <tbody>
                @for (search of searches; track $index) {

                <tr>
                    <td>{{ search.medication?.name }}</td>
                    <td>{{ search.medication?.dose }}</td>
                    <td>{{ search.status }}</td>
                    <td><app-button title="Mark as available" (clickEvent)="markAsAvailable(search.searchId)"/></td>
                    
                    <td>
                        <div class="userDetails">User Details</div>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
