<div class="main_container">
  <div class="title">Terms and Conditions of Use</div>
  <div class="sub_heading">
    InStockRx.com User Agreement and Terms and Conditions of Website Use
  </div>

  <section id="section">
    <!-- <div class="heading">Internet Privacy and Security Policy</div> -->
    <div class="content">
      Welcome to InStockRx.com, which is owned and operated by InView Analytics
      Inc. (hereafter referred to as "InStockRx"). This User Agreement and Terms
      and Conditions of Website Use (collectively, the "Agreement") contains the
      terms, provisions and conditions upon which InStockRx is willing to
      provide you access to and use of any InStockRx website and all related
      pages, information, databases, functionality and materials (collectively,
      "InStockRx.com" or the "Website"), and governs your use of InStockRx.com.
      If you do not agree to be bound by this Agreement, you may not access or
      use InStockRx.com. Your use of InStockRx.com constitutes your acceptance
      of this Agreement, and the accompanying Notice of Privacy Practices and
      Internet Privacy and Security Policy in effect at the time. Please scroll
      down through this Agreement to review important provisions regarding
      arbitration, limitation of liability, waivers and indemnities, and other
      important provisions. The fees and other charges assessed by InStockRx are
      based upon your acceptance, and the enforceability, of the arbitration,
      liability limitations, waivers and indemnity provisions -- in the absence
      of which such fees and costs would be increased to compensate for the
      potential additional business expenses.
      <br />
      <br />
      Before you may use InStockRx.com, you must register by completing an
      online form. Completion of this form signifiies that you agree to this
      User Agreement and Terms of Service and to all policies incorporated by
      reference are accessible through links in this Agreement
      <br />
      <br />

      InStockRx may make changes to this Agreement, or any policies governing
      use of the Website and related services, at any time at its discretion;
      provided, however, that such changes will only effect and control your
      subsequent use of the Website. InStockRx encourages you to review this
      Agreement each time upon entering the Website for updates and changes
      because your future access or use of the Website shall be deemed
      acceptance of these changes. You should print a copy of this and future
      Agreements for your reference.
      <br />
      <br />

      You accept that InView Analyics Inc. DBA InStockRx.com website and its
      services, including all content, software, functions, materials, and
      information made available on or provided in connection with the services
      are provided “as-is” and “as available” without any warranties from us
      whatsoever. You accept that you use this Website and its Services at your
      own risk. We expressly disclaim, without limitation, any representations
      or warranties regarding this Agreement, the services, prescription drugs,
      or the transactions under this Agreement, any and all express, statutory,
      implied warranties of Merchantability, Non-Infringement of Third Party
      right, or Fitness for a Particular Purpose. We also disclaim any and all
      implied warranties arising out of the course of dealings, performance of
      Members, or usage of trade as well as any obligation, claim, right, remedy
      in tort, or liability even if arising from our negligence.
      <br />
      <br />

      We do not guarantee whatsoever that this Website’s Services meet your
      requirements or that this Website will be in working order by being
      available, timely, secure, uninterrupted, or free of error at all times.
      We reserve the right to modify, discontinue, suspend, or deny access to
      the Website or any part of it with or without notice at any time. You
      agree that we will not be liable for any reason to you or any third party
      for the same or for any of your postings or prescription drugs that do not
      sell or remain unsold.
      <br />
      <br />

      We disclaim the above to the fullest extent permissible under applicable
      law for any claim, damage, cause of action, tort, or any other right of
      contribution or claim for injunctive relief from the operation of this
      Website or its Services, whether known or unknown, actual or inchoate,
      contingent or liquidated.
      <br />
      <br />

      Release. We are not involved in transactions between Buyers and Sellers or
      other dealings. Therefore, in the event of a dispute between the parties,
      each party agrees to release InView Analytics Inc. (DBA InStockRx.com)
      administrators, executors, representatives, agents, attorneys, assigns and
      all others claiming by or through him or them from claims, demands, and
      damages of any kind arising out of or in connection with the dispute.
      <br />
      <br />
      <b
        >This Agreement is a contract between you and InView Analytics Inc. and
        incorporates InStockRx's </b
      >Privacy Policy <b> as if fully set forth herein.</b> If you have
      questions regarding it, please contact InView Analytics Inc, Attn: Legal,
      3727 Doral Street, Palm Harbor, FL 34685
      <br />
      <br />

      <ol>
        <li>
          <b> InStockRx Services.</b> The Website is an Internet-based
          electronic marketplace connecting buyers and sellers ("Participants")
          of a variety of pharmaceutical related products (and services) made
          available for use and purchase by the Participants (collectively,
          "Participant Services"). As owner of the Website, InStockRx manages
          the functional and technical operations required to maintain and
          support the Website (the "InStockRx Services"). Although the Website
          may be referred to as an online pharmaceutical auction site, InStockRx
          is not an auctioneer or a clearinghouse and does not sell Participant
          Services. Because it does not sell Participant Services, InStockRx
          explicitly and specifically disclaims any responsibility for the
          quality, safety, or legality of the products advertised, the truth or
          accuracy of the listings, the ability of the Participants to sell or
          deliver the Participant Services, or the ability of Participants to
          pay for them. InStockRx cannot ensure that a Participant will actually
          complete a transaction. You are responsible for accurately entering
          your information into InStockRx.com. InStockRx will not review such
          information as a part of the InStockRx Services. Information submitted
          by you or generated from transactions through the Website (absent any
          personably identifiable information) will be available on the
          InStockRx system to all pharmacies within the service area and others
          per this Agreement for development of statistical data to facilitate
          efficiency and competition in the field of pharmacy services.
          InStockRx may provide additional InStockRx Services services. Any
          InStockRx Services that you order from InStockRx.com for which
          InStockRx charges fees shall be paid for by you with valid funds at
          the time you place your order. InStockRx may, at its sole discretion,
          delete or change some or all of the InStockRx Services or Participant
          Services now or offered in the future at any time, free and clear of
          any claim of vested rights or other entitlement as a Participant of
          InStockRx.com or otherwise.
        </li>
        <li>
          <b> Participant Services.</b> Participant Services are offered and
          sold by the Participants. If you have a claim or dispute regarding any
          Participant Services, you must deal directly with the affected
          Participants, not InStockRx. Unless otherwise prohibited by applicable
          law, you release InStockRx from and waive any and all claims, demands,
          and causes of action of every kind and nature, known and unknown,
          which exist or hereafter arise against InStockRx related in any way to
          such claim or dispute over Participant Services. Although Participants
          are expected to input accurate information on the Website, on occasion
          pricing, typographical, or other mistakes may occur. InStockRx
          reserves and shall have the right to cancel any transactions processed
          with inaccurate information submitted by any Participants, and the
          return of any amounts paid by you to InStockRx in the cancelled
          transaction shall be your sole remedy.
        </li>
      </ol>
    </div>
  </section>
</div>
