<!-- src/app/calendar/calendar.component.html -->
<div class="calendar-container">
  <div class="header">
    <span (click)="toggleYearSelection()"
      >{{ monthNames[selectedMonth] }} {{ selectedYear }}</span
    >
    @if (!yearSelectionActive) {
    <div>
      <span (click)="previousMonth()"><</span>
      <span (click)="nextMonth()">></span>
    </div>
    }
  </div>

  <div
    class="calendar"
    [ngClass]="{ yearSelectionActive: yearSelectionActive }"
  >
    @if (yearSelectionActive) { @for (year of yearsArray; track $index) {
    <span
      (click)="onSelectYear(year)"
      [ngClass]="{ selected: selectedYear === year }"
      >{{ year }}</span
    >
    } } @else{

    <div class="days-of-week">
      @for ( day of weekNames; track $index) {
      <span>{{ day }}</span>
      }
    </div>
    <div class="days">
      @for ( day of daysArray; track $index) {
      <span
        [ngClass]="{
          inactive:
            checkIfPastDay(selectedYear, selectedMonth, day || 1)
        }"
        >{{ day }}</span
      >

      }
    </div>
    }
  </div>
</div>
