@import "variables";

.calendar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $globalWhiteColor;
    width: 15rem;
    background-color: $brandExtraLightPrimaryColor;
    height: 16rem;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    > span {
        cursor: pointer;
    }
}

.calendar {
    margin-top: 20px;
    width: 100%;

    &.yearSelectionActive {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow-y: scroll;
        row-gap: 2rem;


        span {
            text-align: center;
            transition: all 0.3s ease;
            border-radius: 24px;
            padding: 0.5rem;

            &.selected {
                background-color: $brandDarkPrimaryColor;
                color: $offWhiteColor;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.212);
                cursor: pointer;
            }
        }
    }
}

.days-of-week {
    display: flex;
    span {
        text-align: center;
        width: 14%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.days {
    display: flex;
    flex-wrap: wrap;
    > span {
        cursor: pointer;
        width: 14%;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: all 0.3s ease;

        &.selected {
            background-color: $brandDarkPrimaryColor;
            color: $offWhiteColor;
        }

        &.inactive {
            cursor: default;
            color: $midGreenColor;
        }

        &:not(.inactive):not(.selected):hover {
            background-color: rgba(0, 0, 0, 0.233);
        }
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    transition: all 0.5s ease;
    background: transparent;
    border-radius: 24px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cecece;
}
