<div class="main_container">
  <app-section-banner
    [title]="'We find hard to find medications'"
    [subHeading]="
      'We find local pharmacies that have your patient\'s medications in stock so you don\'t have to.'
    "
    [primaryBtnText]="'Schedule a call'"
    [secondaryBtnText]="'Create your account'"
    [primaryBtnType]="'small_primary'"
    [secondaryBtnType]="'small_secondary'"
    [routeOnPrimaryBtnClick]="APP_ROUTES.webpage.demo"
    [openOnNewPage]="false"
  />

  <app-specification-section
    [specificationsArray]="specificationsArray"
    [title]="'Never worry about finding your meds again'"
  />

  <app-how-it-works [stepsArray]="stepsArray" />

  <app-faq-section [faqs]="faqs" [heading]="'FAQs'" />

  <app-section-banner
    [title]="'Get started today and eliminate your medication shortage worries'"
    [primaryBtnText]="'Schedule a call'"
    [secondaryBtnText]="'Create your account'"
    [primaryBtnType]="'small_primary'"
    [secondaryBtnType]="'small_secondary'"
    [routeOnPrimaryBtnClick]="APP_ROUTES.webpage.demo"
    [openOnNewPage]="false"
  />
</div>
