<div class="main_container">
    <div class="header">Medication Details:</div>
    <div class="medication_info">
        <div class="label_and_value">
            <div class="label">Name:</div>
            <div class="value">{{ search?.medication?.name }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Dose:</div>
            <div class="value">{{ search?.medication?.dose }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Quantity:</div>
            <div class="value">{{ search?.medication?.quantity }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Brand Name:</div>
            <div class="value">{{ search?.medication?.brandName }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Pick up date:</div>
            <div class="value">{{ search?.medication?.pickUpDate }}</div>
        </div>
    </div>
    @if(search?.medication?.alternatives?.length) {
    <div class="header">Alternative Medication Details:</div>
    @for (alternative of search?.medication?.alternatives; track $index) {
    <div class="medication_info">
        <div class="label_and_value">
            <div class="label">Name:</div>
            <div class="value">{{ alternative.name }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Dose:</div>
            <div class="value">{{ alternative.dose }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Quantity:</div>
            <div class="value">{{ alternative.quantity }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Brand Name:</div>
            <div class="value">{{ alternative.brandName }}</div>
        </div>
    </div>
    } }
    <div class="header">Pharmacy Details:</div>
    <div class="table_container">
        <table>
            <thead>
                <th>Medication Name</th>
                <th>Pharmacy Name</th>
                <th>Address</th>
                <th>Contact Info</th>
            </thead>
            <tbody>
                <tr>
                    <td>Medication Name / Alternative Name</td>
                    <td>My Pharmacy</td>
                    <td>Raviwar Peth Wai</td>
                    <td>9049965167</td>
                </tr>
                <tr>
                    <td>Medication Name / Alternative Name</td>
                    <td>My Pharmacy</td>
                    <td>Raviwar Peth Wai</td>
                    <td>9049965167</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
