<div class="main_container">
    <div class="header">
        <div class="title_container">
            <p>Medication Details:</p>
            @if(search?.status === searchStatus.NotStarted) {
            <img src="assets/images/svg/edit-icon.svg" alt="Edit" class="edit_icon" (click)="openModalPopup()" />
            }
        </div>
        @if(search?.status === searchStatus.NotStarted) {
        <div class="edit_btn" (click)="openModalPopup()">
            <app-button title="Start Search" [type]="'small_primary'" />
        </div>
        }
    </div>
    <div class="medication_info">
        <div class="label_and_value">
            <div class="label">Name:</div>
            <div class="value">{{ search?.medication?.name }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">DOB:</div>
            <div class="value">{{ search?.dob | date }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Dose:</div>
            <div class="value">{{ search?.medication?.dose }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Quantity:</div>
            <div class="value">{{ search?.medication?.quantity }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Brand Name:</div>
            <div class="value">{{ search?.medication?.brandName }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Zip Code</div>
            <div class="value">{{ search?.zipCode }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Pick up date:</div>
            <div class="value">{{ search?.medication?.pickUpDate | date }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Status:</div>
            <div class="value">{{ search?.status }}</div>
        </div>
    </div>
    @if(search?.medication?.alternatives?.length) {
    <div class="header">
        <div class="title">Alternative Medication Details:</div>
    </div>
    @for (alternative of search?.medication?.alternatives; track $index) {
    <div class="medication_info">
        <div class="label_and_value">
            <div class="label">Name:</div>
            <div class="value">{{ alternative.name }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Dose:</div>
            <div class="value">{{ alternative.dose }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Quantity:</div>
            <div class="value">{{ alternative.quantity }}</div>
        </div>
        <div class="label_and_value">
            <div class="label">Brand Name:</div>
            <div class="value">{{ alternative.brandName }}</div>
        </div>
    </div>
    } }
    <div class="header">
        <div class="title">Pharmacy Details:</div>
    </div>
    <div class="table_container">
        @if(false) {
        <div class="loader_container">
            <app-loader></app-loader>
        </div>
        } @else { @if(false) {
        <table>
            <thead>
                <th>Medication Name</th>
                <th>Pharmacy Name</th>
                <th>Address</th>
                <th>Contact Info</th>
            </thead>
            <tbody>
                @for (avai of availability; track $index) {
                <tr>
                    <td>{{ avai.clinician?.name }}</td>
                    <td>{{ avai.clinician?.email }}</td>
                    <td>{{ avai.clinician?.phoneNumber }}</td>
                    <td>{{ avai.clinician?.zipCode }}</td>
                </tr>
                }
            </tbody>
        </table>
        } @else {
        <div class="empty_container">
            <app-empty-state [src]="'assets/images/svg/no-search-icon.svg'" [caption]="
                    'No Pharmacy has marked your medication as available yet.'
                "></app-empty-state>
        </div>
        } }
    </div>
</div>

<app-modal [isVisible]="isModalVisible" bg="transparent" (closeModal)="openModalPopup()">
    <div class="model_container">
        <div class="heading">
            <span> Edit Medication Details </span>
        </div>
        <hr />
        <div class="content">
            <app-additional-info [additionalInfoForm]="additionalInfoForm" (onAdditionalInfoSubmit)="openModalPopup()"
                [showDatePickerOnlyasInput]="true" />
        </div>
        <hr />
        <div class="footer">
            <div class="btn_container">
                <app-button [title]="'Cancel'" [type]="'small_secondary'" [shape]="'rounded'"
                    (clickEvent)="openModalPopup()"></app-button>
            </div>
            <div class="btn_container">
                <app-button [title]="'Confirm'" [type]="'small_primary'" [shape]="'rounded'"
                    (clickEvent)="openModalPopup()"></app-button>
            </div>
        </div>
    </div>
</app-modal>