<div class="input_container">
  @if (label) {
  <label
    [for]="id"
    [ngClass]="{ animated_label: control.value }"
    (click)="focusInput(inputElement)"
  >
    {{ label }}
  </label>
  }
  <input
    [ngClass]="{ error_input: control.dirty && control.invalid }"
    [type]="type"
    [formControl]="control"
    [id]="id"
    [placeholder]="isFocused ? placeholder : ''"
    #inputElement
    (focus)="onFocus()"
    (blur)="onBlur()"
    (input)="formatPhoneNumber()"
    [attr.maxlength]="type === 'phoneNumber' ? 14 : null"
  />

  <span
    class="error_message"
    [ngClass]="{ visible: control.dirty && control.invalid }"
  >
    {{ errorMessage }}
  </span>
</div>
