:host {
    width: 100%;
}

.input_container {
    border-radius: 12px;
    border: 1.6px solid #ac9d9e;
    transition: border 0.5s ease;
    color: #ac9d9e;
    position: relative;
    flex-grow: 0;

    .animated_label {
        font-size: 12px;
        top: -0.5rem;
        left: 8px;
        width: unset;
    }

    &:focus-within {
        border-color: #221918;
        &:not(:hover) {
            border-color: #fe6b6a;
        }
        label {
            font-size: 12px;
            top: -0.5rem;
            left: 8px;
        }
    }

    &:hover {
        border-color: #221918;
    }

    label {
        position: absolute;
        background-color: #ffffff;
        padding: 0 3px;
        transition:
            top 0.2s ease,
            left 0.2s ease,
            font-size 0.2s ease;

        font-size: 1rem;
        top: 0.7rem;
        left: 0.5rem;
        cursor: text;
    }

    input {
        border-radius: 12px;
        padding: 0.7rem;
        border: none;
        width: 100%;
        font-size: 1rem;
        caret-color: red;

        ::placeholder {
            color: #ac9d9e;
        }

        &:focus {
            outline: none;
        }
    }
}
