@import "variables";

:host {
    width: 100%;
}

.input_container {
    margin: 12px 0;
    border-radius: 12px;
    flex-grow: 0;
    background-color: $globalWhiteColor;
    color: $darkGreyColor;
    display: flex;
    flex-direction: column;
    transition: all 0.2s ease;

    .animated_label {
        font-size: 12px;
        transform: translateY(-1.5rem);
    }

    &:focus-within {
        &.flat {
            &:not(:hover) {
                label {
                    color: $brandPrimaryColor;
                }
            }
        }

        label {
            font-size: 12px;
            transform: translateY(-1.5rem);
        }
    }

    label {
        background-color: $globalWhiteColor;
        width: max-content;
        padding: 0 10px;
        transition: all 0.2s ease;
        font-size: 0.9rem;
        margin-bottom: -2rem;
        margin-left: 3px;
        cursor: text;
        z-index: 1;
    }

    &.flat {
        label {
            color: $darkBrownColor;
        }
    }

    input {
        border-radius: 12px;
        border: 1.6px solid $darkGreyColor;
        transition: border 0.5s ease;
        padding: 0.7rem 0.5rem 0.7rem 0.5rem;
        width: 100%;
        font-size: 1rem;
        caret-color: $brandPrimaryColor;

        &:focus {
            border-color: #221918;
            outline: none;
            &:not(:hover) {
                border-color: $brandPrimaryColor;
            }
        }

        ::placeholder {
            color: $darkGreyColor;
            opacity: 1;
        }

        &.error_input {
            border-color: $dangerColor;
        }

        &:hover {
            border-color: $globalBlackColor;
        }

        &.flat {
            border: none;
            border-radius: unset;
            border-bottom: 1.5px solid $darkBrownColor;
        }

        &.disabled {
            color: $normalGrey;
        }
    }

    .error_message {
        opacity: 0;
        transition: all 0.2s ease;
        color: $dangerColor;
        font-size: 0.8rem;
        height: 0;
        padding: 0 0.3rem;

        &.visible {
            height: unset;
            padding: 0.3rem;
            opacity: 1;
        }
    }
}
