<div class="main_container">
    <div class="logo_and_name_container">
        <a [routerLink]="APP_ROUTES._" (click)="closeMenu()">
            <img src="assets/images/png/pill-logo.png" alt="logo">
            <div class="name_container">
                <div class="heading">FindMyMed</div>
                <div class="sub_heading">by InStockRx</div>
            </div>
        </a>
    </div>
    <div class="menu_icon" (click)="toggleMenu()">
        <img *ngIf="!menuOpen" src="assets/images/svg/menu-icon.svg" alt="menu">
        <img *ngIf="menuOpen" src="assets/images/svg/close-icon.svg" alt="close">
    </div>
    <div class="routes_container" [ngClass]="{'open': menuOpen}">
        <ul class="route_list">
            <li><a [routerLink]="APP_ROUTES.pricing" routerLinkActive="active-link" (click)="closeMenu()">Pricing</a>
            </li>
            <li><a [routerLink]="APP_ROUTES.patients" routerLinkActive="active-link" (click)="closeMenu()">Patients</a>
            </li>
            <li><a [routerLink]="APP_ROUTES.providers" routerLinkActive="active-link"
                    (click)="closeMenu()">Providers</a></li>
            <li><a [routerLink]="APP_ROUTES.about" routerLinkActive="active-link" (click)="closeMenu()">About Us</a>
            </li>
            <li><a [routerLink]="APP_ROUTES.about" routerLinkActive="active-link" (click)="closeMenu()">Login</a></li>
            <div class="button_container">
                <app-button [title]="'Find my meds'" [type]="'small_primary'" (click)="openFindMyMeds()"></app-button>
            </div>
        </ul>
    </div>
</div>