<div class="main_container">
  <div class="logo_and_toggle_icon">
    <div class="logo_and_name_container">
      <a [routerLink]="APP_ROUTES.webpage._" (click)="closeMenu()">
        <img src="assets/images/png/pill-logo.png" alt="logo" />
        <div class="name_container">
          <div class="heading">FindMyMeds</div>
          <div class="sub_heading">by InStockRx</div>
        </div>
      </a>
    </div>
    <div class="menu_icon" (click)="toggleMenu()">
      <img *ngIf="!menuOpen" src="assets/images/svg/menu-icon.svg" alt="menu" />
      <img
        *ngIf="menuOpen"
        src="assets/images/svg/close-icon.svg"
        alt="close"
      />
    </div>
  </div>
  <div class="routes_container" [ngClass]="{ open: menuOpen }">
    <ul class="route_list">
      <li>
        <a
          [routerLink]="APP_ROUTES.webpage.pricing"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >Pricing</a
        >
      </li>
      <li>
        <a
          [routerLink]="APP_ROUTES.webpage.patients"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >Patients</a
        >
      </li>
      <li>
        <a
          [routerLink]="APP_ROUTES.webpage.providers"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >Providers</a
        >
      </li>
      <li>
        <a
          [routerLink]="APP_ROUTES.webpage.about"
          routerLinkActive="active-link"
          (click)="closeMenu()"
          >About Us</a
        >
      </li>
      <li>
        <a
          [routerLink]="APP_ROUTES.product.auth"
          routerLinkActive="active-link"
          (click)="openSignUpPage($event); closeMenu()"
          >Login</a
        >
      </li>
      <div class="button_container">
        <app-button
          [title]="'Find My Meds'"
          [type]="'small_primary'"
          (clickEvent)="openFindMyMeds($event)"
        ></app-button>
      </div>
    </ul>
  </div>
</div>
