<section id="main_container">
  <div class="heading">Never worry about finding your meds again</div>
  <div class="feature_container">
    <div class="card">
      <div class="img_container">
        <span>99</span>
        <img src="assets/images/svg/percent-icon.svg" alt="" />
      </div>
      <div class="caption">Success rate finding medications</div>
    </div>
    <div class="card">
      <img src="assets/images/svg/phone-disabled-icon.svg" alt="" />
      <div class="caption">
        No more calling around to find in stock pharmacies
      </div>
    </div>
    <div class="card">
      <img src="assets/images/svg/check-icon.svg" alt="" />
      <div class="caption">We'll find your meds or refund your search</div>
    </div>
  </div>
</section>
