<div class="main_container">
  <app-section-banner
    [title]="'Struggling to find a medication? Let us handle it for you!'"
    [subHeading]="
      'Our dedicated team locates hard-to-find meds quickly and efficiently—guaranteed.'
    "
    [openOnNewPage]="false"
    [primaryBtnText]="'Find My Meds'"
  />

  <app-infinite-slider />

  <app-specification-section
    [specificationsArray]="specificationsArray"
    [title]="'Never worry about finding your meds again'"
  />

  <app-how-it-works [stepsArray]="stepsArray" />

  <app-faq-section [faqs]="faqs" [heading]="'Questions? We\'ve Got Answers'" />

  <app-section-banner
    [title]="'Sign Up Today and Never Struggle to Find Your Meds Again!'"
    [primaryBtnText]="'Find My Meds'"
  />
</div>
