<div class="main_container">
  <section id="section">
    <div class="heading">Internet Privacy and Security Policy</div>
    <div class="content">
      InStockRx, powered by InStockRx Analytics , Inc. ("InStockRx"), values the
      privacy of each user who accesses our website, instockRx.com. We have
      adopted this Internet Privacy and Security Policy ("Policy") to disclose
      our data collection and disclosure policies and practices for this website
      and all related web pages (the "Site").
    </div>
  </section>

  <section id="section">
    <div class="heading">Consent</div>
    <div class="content">
      By using the Site, you acknowledge your agreement with, and consent to,
      the terms and conditions contained in this Policy. If you do not consent
      to this Policy, please refrain from use of the Site. If you access the
      Site from a location other than where the server or web host of the Site
      is located, your use of the Site also constitutes consent to transmit your
      information to the location of our servers and web host.
    </div>
  </section>

  <section id="section">
    <div class="heading">Third Party Sites</div>
    <div class="content">
      The Site may contain links to other websites over which we have no
      control. InStockRx is not responsible for the privacy practices or
      policies of any third-party websites that may be linked with or may be
      accessed from the Site. You are solely responsible to review the privacy
      policies and terms and conditions of all third-party websites you access
      from the Site. This Policy applies only to the Site and information that
      InStockRx collects on this Site.
    </div>
  </section>

  <section id="section">
    <div class="heading">Collection and Use of Information</div>
    <div class="content">
      <b>Personal Information.</b> InStockRx collects personal information from
      users only on a voluntary basis. When registering on the Site, we ask each
      user to provide items such as user's name, address, e-mail address,
      telephone number, credit card information and insurance information.
      <br />
      <br />
      We use your personal information to provide certain products and services
      you request through the Site, to operate and improve the Site, to improve
      existing or introduce new services, and to create a positive user
      experience. From time to time, we may also use information we gather to
      inform you of new products or services; however, you may opt-out of such
      communications if you prefer not to receive them. To opt-out of
      unsolicited email communications from InStockRx, please follow the opt-out
      instructions in the email or send your request to opt-out to:

      <div class="imp_text">
        InStockRx <br />
        Attn: Legal Department <br />
        3727 Doral Street <br />
        Palm Harbor, FL 34685
      </div>

      <b>Non-Personal & Anonymous Information.</b> Regardless of whether you
      register with the Site, InStockRx collects non-personal and anonymous
      information from all our users to be used in an aggregate fashion. This
      information helps us to determine how we can create a better experience
      for our users. Accordingly, InStockRx collects system-related information
      (such as an IP address, browser type and operating system type) to be used
      for system administration purposes, to help diagnose problems with our
      servers, to monitor traffic patterns, to determine which services are used
      most frequently, and to assess site usage. In addition, InStockRx retains
      the right to de-identify any information regarding drug usage for purposes
      of creating data studies.
    </div>
  </section>

  <section id="section">
    <div class="heading">Disclosure of Your Information</div>
    <div class="content">
      InStockRx does not sell or rent your personal information to third
      parties; however, InStockRx does share your personal information with
      third parties as explained in this Policy and as further described in our
      Notice of Privacy Practices.
      <br />
      <br />
      To provide products or services you request, InStockRx shares your
      personal information with third parties in an effort to satisfy your
      request. For example, if you wish to purchase prescription drugs through
      the Site, we will share your personal information with the selected
      pharmacy so that your prescription can be filled. We may also disclose
      your personal information to entities employed to perform functions on our
      behalf; however, these entities will also be required to enter into
      certain confidentiality agreements or abide by certain practices and
      procedures to maintain your privacy in accordance with this Policy.
      <br />
      <br />
      If one of InStockRx's business lines or the entire business is acquired or
      transferred, whether by merger, consolidation or purchase of a substantial
      portion of assets, InStockRx may disclose and transfer your personal
      information to such third party. In addition, if InStockRx becomes the
      subject of a bankruptcy or insolvency proceeding, whether voluntary or
      involuntary, InStockRx or its trustee in bankruptcy may sell, assign,
      license or otherwise transfer your personal information in a transaction
      approved by the appropriate court.
      <br />
      <br />
      InStockRx may disclose your personal information to third parties when we
      believe, in good faith and in our sole discretion, that such disclosure is
      reasonably necessary to: (a) enforce or apply the terms of this terms and
      conditions of this Site; (b) comply with legal or regulatory requirements;
      (c) protect the rights, property or safety of InStockRx, our users or
      other third parties; or (d) prevent a crime or protect national security.
      <br />
      <br />
      InStockRx may disclose, in exchange for compensation or otherwise,
      de-identified aggregate information to its clients, business partners,
      merchants, advertisers, potential advertisers, investors, potential buyers
      and other third parties if InStockRx deems such disclosure, in its own
      discretion, to have sound business reasons or justification.
      <br />
      <br />
      InStockRx may incorporate drug acquisition cost data for pharmacies that
      are registered on the Site. This drug acquisition cost data is kept
      strictly confidential and is shared only with:
      <br />
      <br />

      <ol>
        <li>
          InStockRx staff who have a need to access the information in order to
          maintain and improve the operations of the Site.
        </li>
        <li>
          Users of the Site authorized to have administrative access to the
          pharmacy from which the drug acquisition cost is provided.
        </li>
        <li>
          Users of the Site authorized to have administrative access to
          pharmacies belonging to the same private network (which group together
          pharmacies under common ownership)as the pharmacy from which the drug
          acquisition cost is provided.
        </li>
      </ol>
    </div>
  </section>

  <section id="section">
    <div class="heading">Security of Your Information</div>
    <div class="content">
      InStockRx saves your personal information in a secure environment so that
      you can easily use our services upon return visits. InStockRx may retain
      information we gather about you indefinitely.
      <br />
      <br />
      Your account profile is password protected. Only you and any person to
      whom you disclose your password can access and modify your profile.
      Accordingly, you have the responsibility to protect and maintain the
      confidentiality of your password.
    </div>
  </section>

  <section id="section">
    <div class="heading">Cookies</div>
    <div class="content">
      InStockRx uses "cookies" only for the convenience of our users and to
      enhance your experience using the Site. A cookie is a small text file that
      is recorded on your hard drive by a web page server. It is not used to
      deliver viruses or other harmful programs to your computer. Rather,
      cookies enable InStockRx to recognize a user without requiring the user to
      repeatedly log in when using the Site or other InStockRx websites. By
      relying on cookies, InStockRx is able to deliver an efficient service that
      is more appropriately targeted for particular users. Additionally, cookies
      allow InStockRx to monitor traffic patterns and site usage, which help
      make the Site more useful.
      <br />
      <br />
      Please note that most browsers can be set to accept or decline cookies.
      You also may be able to modify your browser setting to notify you each
      time a cookie is created and permit you to accept or decline cookies on an
      individual basis or to accept cookies from websites that meet certain
      disclosure and use specifications. However, please be advised that
      declining cookies may hinder performance of the Site and thereby
      negatively impact your experience using the Site.
    </div>
  </section>

  <section id="section">
    <div class="heading">Policy Changes</div>
    <div class="content">
      We reserve the right to change this Policy at any time and for any reason.
      In particular, InStockRx may modify this Policy from time to time in order
      to reflect changes in the way we collect, use or disclose information or
      to reflect changes in privacy laws, regulations and/or industry standards.
      We reserve the right to make the revised policy effective for information
      we already have about you as well as information received in the future.
      Accordingly, we encourage you to review this Policy from time to time in
      the future. Your continued use of the Site following changes to this
      Policy indicates your acceptance of those changes.
    </div>
  </section>

  <section id="section">
    <div class="heading">Applicable Law; User Terms.</div>
    <div class="content">
      This Policy is governed by the laws of the State of Florida, without
      regard to conflicts of law principles. This Policy is further incorporated
      into by reference and made an integral part of InStockRx User Agreements
      and Terms and Conditions of Use ("Terms") that you have accepted in
      accessing this Site. All disputes arising hereunder shall be resolved in
      accordance with the dispute resolution procedures set forth in the Terms.
    </div>
  </section>

  <section id="section">
    <div class="heading">Contact Us</div>
    <div class="content">
      Please feel free to contact us with questions and comments regarding this
      Policy.
    </div>
  </section>
</div>
