@import "variables";

#main_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 100px 30px;
    background-color: $globalWhiteColor;

    .heading {
        font-size: 76px;
        font-weight: 700;
        color: $globalBlackColor;
        text-align: center;
        letter-spacing: -2.8px;
        line-height: 1.2em;
        padding-bottom: 30px;
    }

    .faq_container {
        width: 75%;
        margin: 0 auto;
        padding: 0 16px;
        font-family: Arial, sans-serif;
        border: 1px solid $brandPrimaryColor;
        border-radius: 16px;

        .faq_item {
            border-bottom: 1px solid $brandPrimaryColor;

            &:last-child {
                border-bottom: none;
            }

            .toggle_container {
                font-size: 18px;
                font-weight: bold;
                cursor: pointer;
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 30px;

                .faq_toggle {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    color: $darkGreyColor;
                    font-size: 30px;
                    width: 30px;
                    transition: transform 0.3s ease;
                    padding: 15px 0;
                    font-weight: 200;

                    &.isOpen {
                        transform: rotate(45deg);
                    }
                }

                .text_container {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    width: 100%;

                    .faq_question {
                        width: 100%;
                        padding: 20px 0 10px 0;
                        font-size: 16px;
                        font-family: "Unbounded", sans-serif;
                        color: $offBlackColor;
                    }

                    .faq_answer {
                        font-size: 16px;
                        color: $darkGreyColor;
                        width: 100%;
                        line-height: 1.5em;
                        padding: 0;
                        max-height: 0;
                        overflow: hidden;
                        margin-top: 8px;
                        transition:
                            max-height 0.3s ease,
                            opacity 0.3s ease,
                            padding 0.3s ease;

                        &.isOpen {
                            max-height: 100px;
                            padding: 8px 0;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #main_container {
        .heading {
            font-size: 40px;
        }
        .faq_container {
            width: 100%;
        }
    }
}
