<div class="main_container">
  <app-section-banner
    [title]="'We find hard to find medications'"
    [subHeading]="
      'We find local pharmacies that have your medications in stock so you don\'t have to work or worry'
    "
    [primaryBtnText]="'Find my meds'"
  />

  <app-infinite-slider/>

  <app-specification-section />

  <app-how-it-works [stepsArray]="stepsArray" />

  <app-faq-section [faqs]="faqs" [heading]="'Questions? We\'ve got answers.'" />

  <app-section-banner
    [title]="'Sign up today and never search for your meds again'"
    [primaryBtnText]="'Find my meds'"
  />
</div>
