<div class="main_container">
  <div class="box_container">
    <div class="scroll_container">
      <div class="header">
        <div class="brand">
          <img src="assets/images/png/pill-logo.png" alt="" />
          <div class="brand_name">
            <div class="heading">FindMyMeds</div>
            <div class="sub_heading">by InStockRx</div>
          </div>
        </div>
      </div>
      <div class="title_container">
        <div class="title">
          {{ patientSignUp ? "Patient portal" : "Clinician portal" }}
        </div>
        @if(patientSignUp && isSignUpScreenVisible) {
        <div class="patient_sub_heading">Never Search for Your Meds Again</div>
        <div class="footer">
          <div class="text">Let us find your meds for you!</div>
          <div class="text">We just need some info to start</div>
        </div>
        } @else {
        <div class="sub_heading">
          If you are a patient searching for meds, please
        </div>
        <div class="signup_container">signup here instead.</div>
        }
      </div>
      @if(isSignInScreenVisible) {
      <app-signin
        [isSignInScreenVisible]="isSignInScreenVisible"
        [isSignUpScreenVisible]="isSignUpScreenVisible"
        [isEmailLoginInOptionSelected]="isEmailLoginInOptionSelected"
        [isForgotPasswordScreenVisible]="isForgotPasswordScreenVisible"
        [isVerificationScreenVisible]="isVerificationScreenVisible"
        (stateChange)="updateStates($event)"
        [signInInfoForm]="signInInfoForm"
      ></app-signin>
      } @else if(isSignUpScreenVisible) {
      <app-signup
        [isSignInScreenVisible]="isSignInScreenVisible"
        [isSignUpScreenVisible]="isSignUpScreenVisible"
        [isEmailLoginInOptionSelected]="isEmailLoginInOptionSelected"
        [isForgotPasswordScreenVisible]="isForgotPasswordScreenVisible"
        [isVerificationScreenVisible]="isVerificationScreenVisible"
        (stateChange)="updateStates($event)"
        [patientSignUp]="patientSignUp"
        [signUpInfoForm]="signUpInfoForm"
      ></app-signup>
      } @else if(isForgotPasswordScreenVisible){
      <app-forgot-password
        [isSignInScreenVisible]="isSignInScreenVisible"
        [isSignUpScreenVisible]="isSignUpScreenVisible"
        [isEmailLoginInOptionSelected]="isEmailLoginInOptionSelected"
        [isForgotPasswordScreenVisible]="isForgotPasswordScreenVisible"
        [isVerificationScreenVisible]="isVerificationScreenVisible"
        (stateChange)="updateStates($event)"
        [forgotPasswordInfo]="forgotPasswordInfo"
      ></app-forgot-password>
      } @else {
      <app-verification-code
        [isSignInScreenVisible]="isSignInScreenVisible"
        [isSignUpScreenVisible]="isSignUpScreenVisible"
        [isEmailLoginInOptionSelected]="isEmailLoginInOptionSelected"
        [isForgotPasswordScreenVisible]="isForgotPasswordScreenVisible"
        [isVerificationScreenVisible]="isVerificationScreenVisible"
        (stateChange)="updateStates($event)"
        [verificationCodeInfo]="verificationCodeInfo"
        [userEmail]="signUpInfoForm.controls.email"
      ></app-verification-code>
      }
    </div>
  </div>
</div>
