<div class="dashboard_content">
  <div class="all_info">
    <span class="welcome_message">Welcome, {{user?.firstName}}</span>

    <div class="my_package">
      <p class="heading">My Package</p>
      <span>{{myPackage.title}}</span>
    </div>

    <div class="active_search_container">
      <span class="heading">Active Search</span>
      <div class="form_container">
        <p class="label">
          Medication Options
          <br />
          (We will search for the first option first then the alternative if
          necessary)
        </p>

        <div
          class="all_medications"
          *ngFor="
            let medication of prescribedMedication.controls;
            let i = index
          "
        >
          @if (editableStates[i]) {
          <div class="prescribed_medication">
            <div class="options">
              <p>Option {{ i + 1 }}</p>
              @if (i!==0) {
              <img
                src="assets/images/svg/delete-icon.svg"
                alt="Delete"
                (click)="removeMedication(i)"
              />
              }
            </div>

            <app-input
              [control]="getControl(i, 'name')"
              id="prescribedMedication"
              label="Medication Name"
              placeholder="Adderall XR"
            />
            <div class="medication_info">
              <div>
                <app-input
                  [control]="getControl(i, 'dose')"
                  id="dose"
                  label="Dose"
                  placeholder="10 mg"
                />
              </div>
              <div>
                <app-input
                  [control]="getControl(i, 'quantity')"
                  id="quantity"
                  label="Quantity"
                  placeholder="30"
                />
              </div>
            </div>
            <app-input
              [control]="getControl(i, 'brand')"
              id="brandName"
              label="Brand Name"
              placeholder="Preffered Brand"
            />
            <div class="decisions">
              <div>
                <app-button
                  title="Save"
                  type="small_primary"
                  shape="rounded"
                  (clickEvent)="saveMedication(i)"
                />
              </div>
              <div>
                <app-button
                  title="Cancel"
                  type="small_secondary"
                  shape="rounded"
                  (clickEvent)="cancelMedication(i)"
                />
              </div>
            </div>
          </div>
          } @else {
          <div class="medication">
            <div>{{ i + 1 }}:</div>
            <div>
              <p>{{ medication.value.name }} {{ medication.value.dose }}</p>
              <p class="label">
                Quatity: {{ medication.value.quantity }},
                {{ medication.value.brand }}
              </p>
            </div>
            <div class="img_container">
              <img
                src="assets/images/svg/edit-icon.svg"
                alt="Edit"
                (click)="toggleEditable(i)"
              />
            </div>
          </div>
          }
        </div>

        <app-button
          shape="rounded"
          type="small_secondary"
          title="Add alternative"
          src="assets/images/svg/plus-icon.svg"
          (clickEvent)="addMedication()"
        />

        <div class="pickup_date">
          <div class="label">Earlist pick up date</div>
          <div class="button_container">
            <app-button
              [title]="
                formatTimestamp(activeSearchForm.controls.pickupDate.value)
              "
              src="assets/images/svg/calendar-icon.svg"
              type="small_secondary"
              [iconAlignment]="'vertical'"
              (clickEvent)="openDateChooserModal()"
            />
          </div>
        </div>

        <div class="status_container">
          <div class="label">Status</div>
          <div
            class="status"
            [ngClass]="{ started: activeSearchData.paymentCompleted }"
          >
            <img
              [src]="
                activeSearchData.paymentCompleted
                  ? 'assets/images/svg/tick-icon.svg'
                  : 'assets/images/svg/exclamation.svg'
              "
              alt=""
            />
            <div>@if (!activeSearchData.paymentCompleted) { Not } Started</div>
          </div>
        </div>

        @if (!activeSearchData.paymentCompleted) {
        <div class="label not_complete">
          Please complete payment to start your search
        </div>
        <div class="button_container">
          <app-button
            title="Complete Payment"
            type="small_primary"
            shape="rounded"
            (clickEvent)="completePayment()"
          />
        </div>
        }
      </div>
    </div>

    <app-button
      title="Contact Support"
      src="assets/images/svg/contact-icon.svg"
      type="small_secondary"
      shape="rounded"
    />

    <div class="previous_searches_container">
      <p class="heading">Previous Searches</p>
      <div class="label">You don't have any search history</div>
    </div>

    <div class="previous_search_container"></div>
  </div>
  <div class="my_profile">
    <div class="header_container">
      <p class="heading">My Profile</p>
      @if (!isProfileEditable) {
      <img
        src="assets/images/svg/edit-icon.svg"
        alt="Edit"
        (click)="toggleEditProfile()"
        class="edit_icon"
      />
      }
    </div>
    @if (isProfileEditable) {
    <form class="edit_profile_form" (submit)="saveEditProfile()">
      <app-input label="Full Name" [control]="profileForm.controls.name" />
      <app-input label="Email" [control]="profileForm.controls.email" />
      <app-input
        label="Phone Number"
        [control]="profileForm.controls.phoneNumber"
        type="phoneNumber"
      />
      <app-input label="Date of Birth" [control]="profileForm.controls.dob" type="dates"/>
      <app-input label="Zip Code" [control]="profileForm.controls.zipCode" />
      <app-input
        label="Presciber"
        [control]="profileForm.controls.doctorName"
      />
      <app-input
        label="Doctor's Email"
        [control]="profileForm.controls.doctorEmail"
      />
      <div class="actions">
        <div>
          <app-button
            (clickEvent)="saveEditProfile()"
            title="Save"
            type="small_primary"
            shape="rounded"
            formButtonType="submit"
          />
        </div>
        <div>
          <app-button
            (clickEvent)="cancelEditProfile()"
            title="Cancel"
            type="small_secondary"
            shape="rounded"
            formButtonType="button"
          />
        </div>
      </div>
    </form>

    } @else {

    <div class="info">
      <p class="label">Name</p>
      <p>{{ profileForm.controls["name"].value }}</p>
    </div>

    <div class="info">
      <p class="label">Email</p>
      <p>{{ profileForm.controls["email"].value }}</p>
    </div>

    <div class="info">
      <p class="label">Phone Number</p>
      <p>{{ profileForm.controls["phoneNumber"].value }}</p>
    </div>

    <div class="info">
      <p class="label">Date of birth</p>
      <p>{{ profileForm.controls["dob"].value }}</p>
    </div>

    <div class="info">
      <p class="label">Zip Code</p>
      <p>{{ profileForm.controls["zipCode"].value }}</p>
    </div>

    <div class="info">
      <p class="label">Doctor's Name</p>
      <p>{{ profileForm.controls["doctorName"].value }}</p>
    </div>

    <div class="info">
      <p class="label">Doctor's Email</p>
      <p>{{ profileForm.controls["doctorEmail"].value }}</p>
    </div>
    }
  </div>
</div>

<app-modal
  [title]="'Example Modal'"
  [isVisible]="modalVisible"
  (closeModal)="closeDateChooserModal()"
>
  <div class="modal_content">
    <div class="content">
      <div class="details">
        <p>Select date</p>
        <span [ngClass]="{ dateInputActive: isDateInputActive }">
          {{ formatTimestamp(selectedDate) }}
        </span>
      </div>
      <div (click)="toggleDateInput()">
        @if (isDateInputActive) {
        <img src="assets/images/svg/calendar-icon.svg" alt="" srcset="" />
        } @else {
        <img src="assets/images/svg/edit-icon.svg" alt="" srcset="" />
        }
      </div>
    </div>
    <div class="date_picker">
      @if (isDateInputActive) {
      <app-input
        type="dates"
        label="Enter date"
        bg="#fae7e0"
        [control]="dateFormControl"
      />
      } @else {
      <app-date-picker (onDatePicked)="onDatePicked($event)" />
      }
      <div class="picker_options">
        <span class="options" (click)="closeDateChooserModal()">Cancel</span>
        <span class="options" (click)="onPositivePress()">OK</span>
      </div>
    </div>
  </div>
</app-modal>
