$globalBlackColor: #000000;
$globalWhiteColor: #ffffff;

$offWhiteColor: #f5f5f5;
$offBlackColor: #333333;

$brandExtraLightPrimaryColor: #fae7e0;
$brandLightPrimaryColor: #f5784a;
$brandPrimaryColor: #f55e25;
$brandDarkPrimaryColor: #e45a27;
$brandSecondaryColor: #4d4d4c;

$extraLightGreyColor: #f9f9fa;
$lightGreyColor: #f7f7f7;
$darkGreyColor: #91959c;

$midBlueColor: #4b6582;
$darkBlueColor: #132f4e;

$midGreenColor: #468a8e;

$dangerColor: #ba1e1f;
