<div class="dashboard_container">
  <app-header />
  <div class="dashboard_content">
    <div class="all_info">
      <span class="welcome_message">Welcome, Patient</span>

      <div class="my_package">
        <p class="heading">My Package</p>
        <span>Three Med Searches</span>
      </div>

      <div class="active_search_container">
        <span class="heading">Active Search</span>
        <div class="form_container">
          <p class="label">
            Medication Options
            <br />
            (We will search for the first option first then the alternative if
            necessary)
          </p>

          <div class="all_medications">
            <div class="medication">
              <div>1:</div>
              <div>
                <p>Medication Name Dose</p>
                <p class="label">Quatity: Quantity, Any Brand</p>
              </div>
              <div class="img_container">
                <img src="assets/images/svg/edit-icon.svg" alt="Edit" />
              </div>
            </div>
          </div>

          <app-button
            shape="rounded"
            type="small_secondary"
            title="Add alternative"
            src="assets/images/svg/plus-icon.svg"
          />

          <div class="pickup_date">
            <div class="label">Earlist pick up date</div>
            <div class="button_container">
              <app-button
                title="Thu, July 4"
                src="assets/images/svg/calendar-icon.svg"
                type="small_secondary"
                [iconAlignment]="'vertical'"
              />
            </div>
          </div>

          <div class="status_container">
            <div class="label">Status</div>
            <div class="status" [ngClass]="{ started: paymentCompleted }">
              <img
                [src]="
                  paymentCompleted
                    ? 'assets/images/svg/tick-icon.svg'
                    : 'assets/images/svg/exclamation.svg'
                "
                alt=""
              />
              <div>@if (!paymentCompleted) { Not } Started</div>
            </div>
          </div>

          <div class="label" [ngClass]="{ not_complete: !paymentCompleted }">
            Please complete payment to start your search
          </div>

          <div class="button_container">
            <app-button
              title="Complete Payment"
              type="small_primary"
              shape="rounded"
            />
          </div>
        </div>
      </div>

      <app-button
        title="Contact Support"
        src="assets/images/svg/contact-icon.svg"
        type="small_secondary"
        shape="rounded"
      />

      <div class="previous_searches_container">
        <p class="heading">Previous Searches</p>
        <div class="label">You don't have any search history</div>
      </div>

      <div class="previous_search_container"></div>
    </div>
    <div class="my_profile">

      <div class="header_container">
        <p class="heading">My Profile</p>
        <img src="assets/images/svg/edit-icon.svg" alt="" />
      </div>

      <div class="info">
        <p class="label">Name</p>
        <p>Patient Lal</p>
      </div>

      <div class="info">
        <p class="label">Email</p>
        <p>patientsomething.com</p>
      </div>

      <div class="info">
        <p class="label">Phone Number</p>
        <p>(123) 456-7890</p>
      </div>

      <div class="info">
        <p class="label">Date of birth</p>
        <p>10/10/2020</p>
      </div>

      <div class="info">
        <p class="label">Zip Code</p>
        <p>12345</p>
      </div>

      <div class="info">
        <p class="label">Doctor's Name</p>
        <p>John</p>
      </div>

      <div class="info">
        <p class="label">Doctor's Email</p>
        <p>doctoreail.com</p>
      </div>

    </div>
  </div>
</div>
