@import "variables";

.isExpanded {
    .sidebar_container {
        width: 220px;

        ul {
            li {
                .img_and_tag {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 8px;

                    span {
                        display: block;
                        opacity: 1;
                        transition: opacity 0.3s ease-in-out;
                    }
                }
            }
        }
    }

    .right_container {
        width: calc(100% - 220px);
        overflow-y: auto;
    }
}

.sidebar_container {
    width: 100%;
    background-color: $offWhiteColor;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
    border-right: 1px solid $normalGrey;

    ul {
        list-style: none;
        padding: 1.5rem;

        li {
            cursor: pointer;
            font-size: 1rem;
            color: $darkGreyColor;
            margin-bottom: 1.5rem;
            color: $brandPrimaryColor;

            .img_and_tag {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                text-decoration: none;

                .img {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                span {
                    opacity: 0;
                    display: none;
                    transition: opacity 0.3s ease-in-out;
                    white-space: nowrap;
                    color: $offBlackColor;
                }

                &.active-link {
                    span {
                        color: $brandPrimaryColor;
                    }
                }
            }

            &:hover {
                color: $brandPrimaryColor;
            }
        }
    }
}

.right_container {
    width: calc(100% - 70px);
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
    .isExpanded {
        .sidebar_container {
            width: 100%;

            ul {
                display: block;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 2rem 0;
                    width: 100%;

                    .img_and_tag {
                        width: 150px;
                    }
                }
            }
        }

        .right_container {
            display: none;
        }
    }

    .sidebar_container {
        display: none;
        width: 0;
    }

    .right_container {
        display: block;
        width: 100%;
    }
}
