<form class="form_container" (submit)="onSucces()">
  <div class="log_option_container">
    <div class="title">Log in using:</div>
    <div class="option_container">
      <div
        class="email_section"
        (click)="markEmailOptionAsSelected()"
        [ngClass]="{ active: isEmailLoginInOptionSelected }"
      >
        Email
      </div>
      <div
        class="number_section"
        (click)="markPasswordOptionAsSelected()"
        [ngClass]="{ active: !isEmailLoginInOptionSelected }"
      >
        Phone Number
      </div>
    </div>
  </div>

  <div class="input_containers">
    @if(isEmailLoginInOptionSelected) {
    <app-input
      [control]="forgotPasswordInfo.controls.email"
      id="email"
      label="Email"
      [type]="'email'"
      [shape]="'flat'"
    />
    } @else {
    <div class="phoneNumber_container">
      <app-custom-search-dropdown></app-custom-search-dropdown>
      <app-input
        [control]="forgotPasswordInfo.controls.phoneNumber"
        id="phoneNumber"
        label="Phone number"
        [type]="'text'"
        [shape]="'flat'"
      />
    </div>
    }
  </div>
  <div class="button_container">
    <app-button
      [shape]="'rounded'"
      [title]="'Submit'"
      [type]="'small_primary'"
    ></app-button>
  </div>
  <div class="footer">
    <div class="signin">
      <a class="signIn_tag" (click)="openSignInScreen()">Back to Sign In?</a>
    </div>
  </div>
</form>
