@import "variables";

.main_container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
        position: relative;
        width: 80px;
        height: 80px;
    }

    .loader:before,
    .loader:after {
        content: "";
        border-radius: 50%;
        position: absolute;
        inset: 0;
    }
    .loader:after {
        box-shadow: 0 2px 0 $brandPrimaryColor inset;
        animation: rotate 1s linear infinite;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
