<div class="main_container">
  <app-section-banner
    [title]="'Find Your Meds NOW, Guaranteed or It\'s FREE'"
    [subHeading]="
      'FindMyMeds quickly locates your in-stock prescriptions, saving you time and reducing stress.'
    "
    [primaryBtnText]="'Find My Meds'"
  />

  <app-specification-section
    [specificationsArray]="specificationsArray"
    [title]="'Never Worry About Finding Your Meds Again'"
  />

  <app-how-it-works [stepsArray]="stepsArray" />

  <app-faq-section [faqs]="faqs" [heading]="'Questions? We\'ve Got Answers'" />

  <app-section-banner
    [title]="'Sign Up Today and Never Struggle to Find Your Meds Again!'"
    [primaryBtnText]="'Find My Meds'"
  />
</div>
